@use "./vars.scss" as *;

$white: rgb(246, 246, 246);
$box-width: 100%;
$msg_tick_bottom: 14px;

#chats {
  #page {
    flex-direction: row;
    flex-wrap: nowrap;

    & > section {
      @include container;
    }
  }

  #chatCont {
    width: 100%;
    flex-grow: 1;
    height: 100%;
    // background-color: $prim_dark;
  }
}

#chatCont {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;

  & > * {
    min-width: 200px;
  }
}

#chat {
  width: $box-width;
  height: 100%;
  flex-grow: 1;
  background-color: $prim_dark;
  border-radius: $global_radius $global_radius 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  padding: 20px 20px calc(20px + $msg_box);
  border-bottom: 0;
  @include scroll(0px $global_radius 0px 0px);

  & > *:first-child {
    margin-top: auto !important;
  }
}

#chatCont form {
  display: flex;
  width: $box-width;
  overflow: hidden;
  height: 50px;
  border-top: $global_border;

  & > *:focus {
    outline: none;
  }
}

#chatCont {
  input,
  .msg {
    flex-grow: 1;
    color: $white;
    background-color: $sec_dark;
    border: none;
  }

  input[type="submit"] {
    border-left: $global_border;
    // border-radius: 0 0 15px 0px;
    background-color: $prim_blue;
    cursor: pointer;
    padding: 10px 20px;
    width: fit-content;
  }

  .msg {
    width: 100%;
    flex-grow: 1;
    padding: 10px;
    // height: fit-content;
    min-height: 30px;
    // border-radius: 0 0 0px $global_radius;
    resize: none;

    @include scroll(0px);
  }

  .message {
    margin: 0;
    border-radius: 7px !important;
    padding: 10px 15px;
    max-width: 80%;
    width: fit-content;
    min-width: 30px;
    position: relative;
    text-align: left;

    &:after {
      content: "";
      position: absolute;
      width: calc($msg_box + 2px);
      height: $msg_box;
      top: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      border: $msg_box solid transparent;
      top: 100%;
      border-bottom: none;
    }
  }

  .myMsg {
    align-self: flex-end;
    background-color: $white;
    color: $sec_dark;
    transform-origin: bottom right;
    word-break: break-all;
    @include msg_ticks(right, $white);
  }

  .friend {
    align-self: flex-start;
    background-color: $blue_border;
    color: $white;
    transform-origin: bottom left;
    word-break: break-all;
    @include msg_ticks(left, $blue_border);
  }

  .animate {
    animation: msgPopIn 0.1s linear;
  }

  .animateF {
    animation: msgPopIn 0.1s linear;
  }
}

@keyframes msgPopIn {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

#page {
  position: relative;
}

// input[type="checkbox"]{
// 	display: none;
// }

@media screen and (max-width: 480px) {
  #chatCont {
    height: 100dvh;
    position: absolute;
    z-index: 1;
    left: 0;
    border: none !important;

    & > * {
      width: 100% !important;
    }
  }

  #chats #page {
    & > section {
      // width: 100% !important;
      max-width: 100%;
    }

    .list {
      width: 100%;
    }

    #chatCont {
      width: 0 !important;
      overflow: hidden;
      transform-origin: right;
      transition: all 0.25s linear;
    }

    input[type="checkbox"]:checked + #chatCont {
      width: 10% !important;
      border: $global_border !important;
    }

    // .users_list {
    //   flex-wrap: wrap;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   gap: 10px;

    //   .user_label {
    //     flex-direction: column;
    //     width: 30%;
    //     border: none;
    //     gap: 5px;

    //     img {
    //       width: 50%;
    //       height: fit-content;
    //     }

    //     h4 {
    //       overflow: hidden;
    //       white-space: nowrap;
    //       width: 100%;
    //       text-align: center;
    //       text-overflow: ellipsis;
    //     }
    //   }
    // }
  }

  .hide:checked + label + .popup {
    width: 90% !important;
    height: 90% !important;
  }
}
