@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Black.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Italic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Thin.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


$sec_dark: #1c1c1c;
$sec_blue: #31dede;
$white: #f1f1f1;
$prim_blue: #00bcbc;
$prim_dark: #232323;
$neo_lue: #05b8d2;
$green: #00b278;
$white_border: #f1f1f130;
$blue_border: #31dede70;
$neo_bord: #05b8d260;
$main_grad: linear-gradient(#08f5f505, #00bcbc50 40%);
$global_padding: 20px;
$global_radius: 17px;
$global_border: 1.5px solid $blue_border;
$msg_box: 15px;
$msg_tick: calc(-1 * $msg_box + 4.2px);
$header_gap: calc(100% - 90px);
$red: #db0000;

@mixin abs($x, $x_val, $y, $y_val, $w, $h, $z) {
  position: absolute;
  width: $w;
  height: $h;
  #{$x}: $x_val;
  #{$y}: $y_val;
  z-index: $z;
}

@mixin container {
  border-radius: $global_radius;
  border: $global_border;
  background-color: $prim_dark;
}

@mixin scroll($val) {
  &::-webkit-scrollbar-track {
    background: rgba(#fff, 0.3);
    border-radius: $val !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $prim_blue;
    border-radius: $val !important;
  }
}

@mixin msg_ticks($rule, $color) {
  &:after {
    background-color: $prim_dark;
    #{$rule}: $msg_tick;
  }

  &:before {
    border-top: $msg_box solid $color;
    #{$rule}: $msg_tick;
  }
}

@mixin tournament($left, $right) {
  &:nth-child(2n + 1) {
    align-self: $left;
  }
  &:nth-child(4) {
    align-self: $right;
  }
}

@mixin links($w1, $h1, $top1, $left1, $w2, $h2, $top2, $rule, $val, $to_hide) {
  &::after {
    content: "";
    @include abs(left, $left1, top, $top1, $w1, $h1, 0);
    background-color: $white;
  }

  &::before {
    content: "";
    @include abs(#{$rule}, $val, top, $top2, $w2, $h2, 0);
    border: 3px solid $white;
    #{$to_hide}: none;
  }
}

@keyframes popIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hit {
  0% {
    transform: rotate(-35deg);
    // transform: translateX(-10px);
  }
  100% {
    transform: rotate(-10deg);
    // transform: translateX(-0px);
  }
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, -150px);
  }
}
